.cart-items {
  margin: 100px 170px;

  .format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
  }

  hr {
    height: 3px;
    background-color: #e2e2e2;
    border: 0;
  }

  .items-format {
    font-size: 17px;
    font-weight: 500;

    .prod-icon {
      height: 62px;
    }

    .remove-icon {
      width: 15px;
      margin: 0px 40px;
      cursor: pointer;
    }

    .items-quantity {
      width: 64px;
      height: 50px;
      border: 2px solid #ebebeb;
      background-color: white;
    }
  }

  .cartitems-down {
    display: flex;
    margin: 100px 0px;

    .items-total {
      flex: 1;
      display: flex;
      flex-direction: column;
      // gap: px;

      .cart-total-items {
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
      }
    }

    button {
      width: 232px;
      height: 48px;
      outline: none;
      border: none;
      background-color: #ff5a5a;
      columns: #fff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .promo-code {
    // flex: 1;
    flex: 0 0 300px;
    font-size: 16px;
    font-weight: 500;

    p {
      color: #555;
    }

    .promo-box {
      width: 504px;
      margin-top: 15px;
      padding-left: 20px;
      height: 58px;
      background-color: #eaeaea;
      display: flex;
      align-items: center;

      input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        width: 330px;
        height: 50px;
      }

      button {
        width: 170px;
        height: 58px;
        font-size: 16px;
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }
  }
}
